# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


###############################
###############################
###############################
BMA/
CV/
JM*/
MM*/
OLD/
PredFigures/
Shiny app/

*.Rhistory
.gitgnore
*.csv
CV Dimitris.R
Data load.R
Descriptives.R
groupsPatients dep on variabitity.R
select 1 patient in server.R
TEST investigating splines df.R
test server.R

2018-01-01 MultiMixedModel - underlying value as secondary outcome/
2018-04-16 MultiMixedModel - binary as secondary outcome/
2018-04-17 MultiMixedModel - propabilities as secondaty outcome/
2018-04-18 LatentMultiMixedModel - binary as secondary outcome/

analysis2.R
analysis3.R
multiMixed2
multiMixed3
*.RData
run2.R
run3.R
simulate2a.R
simulate2b.R
simulate3a.R
simulate3b.R
TEST_parClasses.R


run3shrinkWITHOUTPUTPLOTS.R
